# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled code
/bin

# IDEs and editors
/.idea
.c9/
*.launch
*.sublime-workspace
.metadata
/RemoteSystemsTempFiles

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

target
sample-full.csv
sample-filtered.csv
sample-filtered-sorted.csv
parking-records.json
example.json
ParkingRecords
ParkingRecords/*
derby.log
heap.*
*.iml
sample-filtered.csv

